* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    opacity: 0.4;
    transition: 0.5s;
}

.header {
    background-image: linear-gradient(100deg, #1b1b21, #2d2d38);
    padding-bottom: 10px;
}

.header h1 {
    color: pink;
    text-shadow: 3px 3px 7px white;
    text-align: center;
}

.header__links {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.header__links a {
    margin: 15px 0;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.content {
    background-color: gray;
}